* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: auto;
}

.container {
    margin: 0 auto;
    width: 1219px;
    padding: 0 55px;
}

.header {
    background-color: #007765;
    position: sticky;
    top: 0;
    width: 1219px;
    z-index: 2;
}

.logo {
    margin: 20px 0 20px 55px;
    float: left;
}

.menu {
    text-align: right;
    padding: 30px 55px 30px 0;  
}

.menu-item{
    display: inline-block;
}

.menu-item:nth-child(1) {
    padding: 0 12px 0 0;
    border-right: 2px solid white;
}

.menu-item:nth-child(2) {
    padding: 0 12px 0 12px;
    border-right: 2px solid white;
}

.menu-item:nth-child(3) {
    padding: 0 0 0 12px;
}

.menu-item-href {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    transition: font-weight 300ms;
}

.menu-item-href:hover {
    font-weight: 800;
}

.menu-item-href:active {
    font-weight: 500;
}

.welcome {
    background-image: url(../img/blackANDgreenBGD.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: #ffffff;
    text-align: center;
}

.problem {
    background-color: #EEEEEE;
    padding-bottom: 40px;
}

.problem-h {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    padding: 48px 0 16px 0;
    margin: 0;
   
}

.problem-p {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin: 0 55px 50px 55px;
}

.network {
    background-image: url(../img/blueANDwhiteBGD.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    padding: 128px 163px;
}

.ppc{
    padding: 0 55px;
}

.ppc-h {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    margin: 0;
    padding: 48px 0 16px 0;
}

.ppc-img {
    float: left;
    margin-right: 48px;
    margin-bottom: 35px;
}

.ppc-p {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.ppc-p:nth-child(3),
.ppc-p:nth-child(4) {
    padding-bottom: 42px;
}

.ppc-p:nth-child(5) {
    padding-bottom: 92px;
}

.team {
    background-color: #eeeeee;
}

.team-h {
    display:block;
    padding-top: 48px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 95px;
}

.member {
    width: 350px;
    text-align: center;
}

.member:nth-child(1) {
    margin-bottom: 30px;
}

.member-img {
    transition: transform 300ms;
}

.member-img:hover {
    transform: scale(1.2);
}

.member-description {
    padding-top: 15px;
    line-height: 1.5em;
}

.name {
    font-size: 24px;
    color: #007765;
    font-weight: bold;
}

.position {
    font-style: italic;
}

.footer {
    background-color: #333333;
    padding: 48px 340px 64px 340px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
